<div id="sidebar">
  <div class="logo text-center">
    <%= link_to root_path do %>
      <%= image_tag "logo" %>
    <% end %>
  </div>
  <ul>
    <li>Blog</li>
    <li>Social</li>
    <li>Twitter</li>
    <li>Github</li>
    <li>linkedin</li>
  </ul>
</div>
