<h1 class="text-secondary">Editing Article</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show article', @post, class:"btn btn-success btn-sm" %> 
<%= link_to 'Back to article', posts_path, class: "btn btn-secondary btn-sm" %>
 
